@font-face {
    font-family: PSLKittithadaProRegular;
    src: url('font/pslkittithadapro.eot');
    src: url('font/pslkittithadapro.eot') format('embedded-opentype'),
         url('font/pslkittithadapro.woff') format('woff'),
         url('font/pslkittithadapro.ttf') format('truetype'),
         url('font/pslkittithadapro.svg#PSLKittithadaProRegular') format('svg');
}

@font-face {
    font-family: PSLKittithadaItalic;
    src: url('font/pslkittithada-italic.eot');
    src: url('font/pslkittithada-italic.eot') format('embedded-opentype'),
         url('font/pslkittithada-italic.woff') format('woff'),
         url('font/pslkittithada-italic.ttf') format('truetype'),
         url('font/pslkittithada-italic.svg#PSLKittithadaItalic') format('svg');
}

body {
	margin: 0 auto;	
}

body, input, select, button {
	font-family: PSLKittithadaProRegular;
}

#page-frame {
	width: 1024px;
	margin: 0 auto;
}

#page-frame > div {
	/*width: 790px;*/
}

#blursheet {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 1124px;
	z-index: 1;
	width: 1024px;	
}

#box-alert {
	width: 596px;
	height: 230px;
	
	left:29%;
	margin-top: 194px;
}

#box-alert-error {
	width: 360px;
	height: 142px;
	
	left:38%;
	margin-top: 224px;
}

.box-alert {
	background: #676d75;
	color: #FFFFFF;
	
	z-index: 2;
	position: fixed;
	
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px
}

.button-close {
	float: right;
	background-image: url("img/button-close.png");
	width: 21px;
	height: 18px;
	margin: 2px;
	
	cursor: pointer;
}

#text-box-alert-error {
	margin-top: 56px;
}

.text-box-alert {
	line-height: 24px;
	font-size: 28px;
	margin-top: 38px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

#benz-image {
	width: 399px;
	height: 784px;
	background-image: url("img/benz.png");
	
	position: fixed;
	margin: 0 0;
}

#upper {
	height: 384px;
	background-image: url("img/bg-upper.png");
}

#mid-1 {
	height: 241px;
	background-image: url("img/bg-mid1.png");
}
form {
	width: 340px;
	background-color: black;

	float: right;
	position: relative;
	right: 182px;
}
form div {
	text-align: right;
	margin-bottom: 6px;
}
form .text, form input, form select {
	display: inline-block;
}
form .text {
	font-size: 22px;
	font-weight: bold;
	color: #AAA;
	letter-spacing: 1.2px;

	position: relative;
	top: 2px;
	right: 8px;
}
form .text.type {
	right: 4px;
}
form input[type="text"] {
	width: 212px;
	height: 16px;

	border: 1px solid #AAA;

	font-size: 18px;
	font-weight: bold;
}
form select {
	width: 214px;
	cursor: pointer;
	font-size: 18px;
	font-family: PSLKittithadaProRegular;
	font-weight:bold;
}
form input[type="button"] {
	background-color: #666;
	border: 2px solid #888;
	border-bottom-color: #555;
	border-right-color: #555;

	color: white;
	font-size: 22px;
	letter-spacing: 1.2px;

	padding: 0px 16px;

	/*float: right;*/
	margin-top: 8px;
	margin-left: 164px;

	cursor: pointer;
}

#mid-2 {
	height: 391px;
	background-image: url("img/bg-mid2.png");
}

#lower {
	height: 108px;
	background-image: url("img/bg-lower.png");
}
#lower > div {
	width: 560px;
	float: right;
	overflow: hidden;
}
#lower .apps {
	overflow: hidden;
	float: left;
	margin-left: 42px;
}
#googleplay, #appstore {
	height: 38px;
	float: left;
	margin-left: 6px;
	cursor: pointer;
}
#googleplay {
	width: 39px;
	background-image: url("img/bt-googleplay.png");
}
#appstore {
	width: 112px;
	background-image: url("img/bt-appstore.png");
}
#lower a {
	width: 176px;
	float: right;
	margin-top: 51px;
	margin-right: 30px;
	font-size: 26px;
	letter-spacing: 0.6px;
	font-family: PSLKittithadaItalic;
	font-weight: bold;
}
a:link, a:visited, a:active {
	color: white;
	font-style: italic;
	text-decoration: none;
}
a:hover {
	color: #CCC;
}

#age {
	width: 108px;
	margin-right: 106px;
}
